@import '../../styles/variables.scss';


.card__block {

    display: inline;
    &-img {
        max-width: $cardSizeMedium;
        max-height: $cardSizeMedium;
        margin: $marginMedium;
        padding: $paddingMedium;
        cursor: pointer;
        transition: $transitionSmall;
    
        &:hover {
            background-color: $gray;
            border-radius: $borderRadSmall;
        }
    }
}